target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.classpath
.settings
.project
.mvn/timing.properties
src/main/resources/genny-verticle-rules-git.properties
# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
src/main/resources/genny-verticle-rules-git.properties
./.factorypath
.factorypath
./.project
./.settings/org.eclipse.*
/.apt_generated/
**/bin/*
bin/
/bin
